.post-profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.location {
  margin-top: -14px;
}
.heart:hover {
  color: brown;
  cursor: pointer;
}
@media only screen and (max-width: 450px) {
  .postImage {
    height: 490px;
    width: 90%;
  }
}
